@model MEDWebInterface.Models.SearchQuery
@{
    ViewBag.Title = "Search";
}
<script type="text/javascript" language="javascript" src="~/Scripts/searchform.js"></script>
@using MEDWebInterface.Models;
@if (TempData.Keys.Contains("ex"))
{
    <!--Show error feedback contained in TempData-->
    <label class="alert-danger" style="padding: 15px; border-radius: 5%; margin-top: 50px;">@TempData["ex"]</label>
}
<!--Speed up font display for extended case-->
<span class="invisible eg-A100"></span>
@using (Html.BeginForm("Submit", "Search", FormMethod.Post))
{
    <div style="align-items:center; justify-content:center; display:flex;">
        <div class="img_overlay" style="display:block; padding:2em;">
            <h3 class="display-4">@ViewBag.Title.</h3>
            <div class="search_div">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-danger search_config" onchange="ChangeTextbox(0);">
                        @Html.RadioButtonFor(x => x.Type, SearchType.all, new { @style = "display:none;" }) All
                    </label>
                    <label class="btn btn-outline-danger search_config active" onchange="ChangeTextbox(0);">
                        @Html.RadioButtonFor(x => x.Type, SearchType.transliteration, new { @style = "display:none;", @checked = "checked" }) Transliteration
                    </label>
                    <label class="btn btn-outline-danger search_config" id="translationradio" onchange="ChangeTextbox(0);">
                        @Html.RadioButtonFor(x => x.Type, SearchType.translation, new { @style = "display:none;" }) Translation
                    </label>
                    <label class="btn btn-outline-danger search_config" onchange="ChangeTextbox(1); ">
                        @Html.RadioButtonFor(x => x.Type, SearchType.gardiner, new { @style = "display:none;" }) Gardiner Sign
                    </label>
                </div>
            </div>

            <div class="search_div">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Query, htmlAttributes: new { @class = "form-control", @placeholder = "Search...", @id = "regular-input" })
                    <select class="js-example-basic-multiple" multiple="multiple" onchange="SelectClick()">
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-outline-dark" type="submit" value="Submit">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                    </span>
                    @Html.TextBoxFor(x => x.SignQuery, htmlAttributes: new { @style = "display: none;", @id = "SignQuery"})
                </div>
            </div>
            <div class="row">
                <div class="toggle-label">
                    Exact Match:
                    <div class="custom-switch custom-switch-xs" style="margin-left: 3em;">
                        <input class="custom-switch-input" id="exactmatchcheck" checked type="checkbox" onclick="UpdateValues()">
                        <label class="custom-switch-btn" for="exactmatchcheck"></label>
                    </div>
                </div>
                @Html.CheckBoxFor(x => x.ExactMatch, htmlAttributes: new { @style = "display: none", @id = "exactmatch", @checked = "checked" })

                <div class="row">
                    <div class="toggle-label" style="margin-left: 1em;">
                        Display Formatting:
                        <div class="custom-switch custom-switch-xs">
                            <input class="custom-switch-input" id="formattingcheck" checked type="checkbox" onchange="UpdateValues()">
                            <label class="custom-switch-btn" for="formattingcheck"></label>
                        </div>
                    </div>
                </div>
                @Html.CheckBoxFor(x => x.DisplayFormatted, htmlAttributes: new { @style = "display: none", @id = "formatting", @checked = "checked" })

            </div>
        </div>
    </div>
}