@model MEDWebInterface.Models.Result
@using MEDWebInterface.Services
@using MiddleEgyptianDictionary.Models
@using MiddleEgyptianDictionary
@using System.Globalization
<div class="page-header">
    <h3 class="top_margin display-4">Result</h3>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Hieroglyphs</th>
            <th>Transliteration</th>
            <th>Gardiner Signs</th>
            <th>Translations</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Results != null)
            {
                foreach (var result in Model.Results)
                {
                    <tr>
                        <td>
                            @if (Model.DisplayFormatted)
                            {
                                if (!result.GardinerSigns.Contains(' ') &&
                                    (Model.UnknownGlyphs.Contains(result.ManuelDeCodage) ||
                                     Model.UnknownGlyphs.Contains(result.Res))) 
                                {
                                    <img src="/Search/Image?key=@result.GardinerSigns" alt="@result.GardinerSigns" style="max-height:40px; max-width: 36px;" />  
                                }
                                else
                                {
                                    <canvas class="res">
                                        @(result.Res ?? result.ManuelDeCodage.Replace("AA", "Aa"))
                                    </canvas>
                                }
                            }
                            else
                            {
                                <span class="large_text large-text">
                                    @GardinerConverter.ConvertGardiner(result.GardinerSigns)
                                </span>
                            }
                        </td>
                        <td>
                            @GardinerConverter.PrettifyTransliteration(result.Transliteration)
                        </td>
                        <td>
                            @result.GardinerSigns
                        </td>
                        @if (result.Translations != null && result.Translations.Count > 0)
                        {
                            <td>
                                <ul>
                                    @foreach (var translation in result.Translations)
                                    {
                                    <li>
                                        @if (translation.TranslationMetadata.Count() > 0)
                                        {
                                            List<string> toJoin = new List<string>();
                                            var inner = translation.TranslationMetadata.Select(m => m.Page is null ?
                                                                                                    new Tuple<string, Metadata>($"{new CultureInfo("en-US", false).TextInfo.ToTitleCase(m.DictionaryName.ToString())}", m) :
                                                                                                    new Tuple<string, Metadata>($"{new CultureInfo("en-US", false).TextInfo.ToTitleCase(m.DictionaryName.ToString())} <span class=\"badge bg-white text-dark\">(p. {m.Page}, {m.IndexOnPage + 1})</span>", m))
                                                .ToDictionary(x => x.Item1, y => y.Item2);

                                            var color = "";
                                            foreach (var s in inner)
                                            {
                                                switch (s.Value.DictionaryName)
                                                {
                                                    case DataSource.faulkner:
                                                        color = "bg-info";
                                                        break;
                                                    case DataSource.vygus:
                                                        color = "bg-success text-white";
                                                        break;
                                                    case DataSource.dickson:
                                                        color = "bg-warning";
                                                        break;
                                                    case DataSource.lexicon:
                                                        color = "bg-secondary text-white";
                                                        break;
                                                }
                                                toJoin.Add($"<span class=\"badge {color}\">{s.Key}</span>");
                                            }
                                            @Html.Raw(string.Join("\t", toJoin))
                                        }
                                        @if (translation.TranslationMetadata.Select(x => x.PartOfSpeech).Where(x => x != null).Count() > 0)
                                        {
                                            @: [@Html.Raw($"<i>{string.Join(", ", translation.TranslationMetadata.Select(x => x.PartOfSpeech).Where(x => x != null))}</i>")]
                                        }
                                        - 
                                        <!--Faulkner metadata will be in the first position always bc it is the only HTML translation, and will always have exactly one metadata obj-->
                                        @if (translation.TranslationMetadata[0].DictionaryName != DataSource.faulkner)
                                        {
                                            @translation.translation
                                        }
                                        else
                                        {
                                            @Html.Raw(translation.translation)
                                        }

                                    </li>
                                    }
                                </ul>
                            </td>
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
