@model MEDWebInterface.Models.Result
@using MEDWebInterface.Services
@using MiddleEgyptianDictionary.Models
@using MiddleEgyptianDictionary
@using System.Globalization
<div class="page-header">
    <h3 class="top_margin display-4">Result</h3>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Hieroglyphs</th>
            <th>Transliteration</th>
            <th>Gardiner Signs</th>
            <th>Translations</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Results != null)
            {
                foreach (var result in Model.Results)
                {
                    <tr>
                        <td>
                            @if (Model.DisplayFormatted)
                            {
                                if (!result.GardinerSigns.Contains(' ') &&
                                    (Model.UnknownGlyphs.Contains(result.ManuelDeCodage) ||
                                     Model.UnknownGlyphs.Contains(result.Res))) 
                                {
                                    <img src="/Search/Image?key=@result.GardinerSigns" alt="@result.GardinerSigns" style="max-height:40px; max-width: 36px;" />  
                                }
                                else
                                {
                                    <canvas class="res">
                                        @(result.Res ?? result.ManuelDeCodage.Replace("AA", "Aa"))
                                    </canvas>
                                }
                            }
                            else
                            {
                                <span class="large_text large-text">
                                    @GardinerConverter.ConvertGardiner(result.GardinerSigns)
                                </span>
                            }
                        </td>
                        <td>
                            @GardinerConverter.PrettifyTransliteration(result.Transliteration)
                        </td>
                        <td>
                            @result.GardinerSigns
                        </td>
                        @if (result.Translations != null && result.Translations.Count > 0)
                        {
                            <td>
                                <ul>
                                    @foreach (var translation in result.Translations)
                                    {
                                    <li>
                                        @if (!(@translation.TranslationMetadata.PartOfSpeech is null))
                                        {
                                            @:(@translation.TranslationMetadata.PartOfSpeech):
                                        }
                                        @if (translation.TranslationMetadata.DictionaryName != DataSource.faulkner)
                                        {

                                            @translation.translation
                                        }
                                        else
                                        {
                                            @Html.Raw(translation.translation)
                                        }
                                        - <i>@(new CultureInfo("en-US", false).TextInfo.ToTitleCase(translation.TranslationMetadata.DictionaryName.ToString()))</i>
                                        @if (translation.TranslationMetadata.DictionaryName == DataSource.faulkner)
                                        {
                                            <i>(Page @result.Page, #@(result.IndexOnPage+1))</i>
                                        }
                                    </li>
                                    }
                                </ul>
                            </td>
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
