<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Middle Egyptian Dictionary</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/res")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/res")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/select2")
    @Scripts.Render("~/bundles/select2")
    <link rel="stylesheet" href="~/Content/_component-custom-switch.scss" />
    <link rel="stylesheet" href="~/Content/_component-variables.scss" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body class="@(ViewBag?.Title?.Equals("Search") == true ? "jumbo_image img-fluid" : "max_width")">
    <div id="outsidescreen">
        <span class="outsidescreen_elem hi">&#57344;</span>
        <span class="outsidescreen_elem hiaux">&#35;</span>
        <span class="outsidescreen_elem hinotes">&#35;</span>
    </div>
    <div class="navbar navbar-dark navbar-expand-sm fixed-top" style="background-color:indianred;">
        <div class="container">
            <div class="navbar-brand">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Middle Egyptian Dictionary", "Index", "Search", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Search", "Index", "Search", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Gardiner Sign List", "GardinerSigns", "Search", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Dedications", "Dedication", "Search", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
